<a href="https://colab.research.google.com/github/SaiyadaMubballigha/python/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
l=["abc",1,2,7,True,2.5]
l.append("bike")
print(l)

l[-1]="car"
l.insert(-2,"pens")
print(l)

l.remove(True)
print(l)

l.remove(2.5)
print(l)

del l[-1]
print(l)

this_dict={"books":"10","notes":"5","pencils":"3","pens":"8","eraser":"6","files":2}
print(this_dict)

this_dict={"books":"10","notes":"5","pencils":"3","pens":"8","eraser":"6","files":2}
this_dict.values()
print(this_dict.values())
this_dict.keys()
print(this_dict.keys())

['abc', 1, 2, 7, True, 2.5, 'bike']
['abc', 1, 2, 7, True, 'pens', 2.5, 'car']
['abc', 2, 7, True, 'pens', 2.5, 'car']
['abc', 2, 7, True, 'pens', 'car']
['abc', 2, 7, True, 'pens']
{'books': '10', 'notes': '5', 'pencils': '3', 'pens': '8', 'eraser': '6', 'files': 2}
dict_values(['10', '5', '3', '8', '6', 2])
dict_keys(['books', 'notes', 'pencils', 'pens', 'eraser', 'files'])

In [2]:
a=-20
a=~20
print(-a)

21

In [3]:
a=20
a=~20
print(a)

-21

In [4]:
a=5
b=7
a=a^b
b=a^b
a=a^b
print(a)
print(b)

7
5

In [5]:
a=20
if(a&1==0):
  print("even")
else:
  print("odd")

even

In [6]:
a=5
if(a&1==1):
  print("odd")
else:
  print("even")

odd

In [7]:
n=int(input())
sum=0
for i in range(1,n+1):
  sum+=i
print("sum of first",n,"natural numbers:",sum)

3
sum of first 3 natural numbers: 6

In [8]:
n=int(input())
rev=0
while n>0:
  digit=n%10
  rev=rev*10+digit
  n=n//10
print("reverse of number",rev)

12
reverse of number 21

In [10]:
s=input("enter the string:")[::-1]
print(s)

enter the string:syeda
adeys

In [11]:
n=int(input())
a,b=0,1
for i in range(n):
  print(a, end=" ")
  a,b=b,a+b

12
0 1 1 2 3 5 8 13 21 34 55 89

In [12]:
n=int(input())
fact=1
for i in range(1,n+1):
  fact*=i
print("factorial of",n,"is:",fact)

5
factorial of 5 is: 120

In [13]:
l=[12,7,10,15,8]
min=15
for num in l:
   if(num<min):
    min=num
print(min)

7

In [14]:
def add_numbers(a,b):
  return a+b

result=add_numbers(3,5)
print(result)

8

In [15]:
def greet(name="World"):
  print("Hello,"+name+"!")
greet()
greet("syeda")

Hello,World!
Hello,syeda!

In [16]:
def greet(name,greeting):
  print(greeting+","+name+"!")
greet(greeting="Hello",name="syeda")

Hello,syeda!

In [17]:
L=[1,2,3]
print(L)
print(*L)

[1, 2, 3]
1 2 3

In [18]:
def multiply(*args):
  result=1
  for num in args:
    result*=num
  return result
print(multiply(2,3,4,5,6))

720

In [20]:
def student_info(**kwargs):
  for key,value in kwargs.items():
    print(key+":"+value)
student_info(name="Syeda",age="20",clg="BITM")

name:Syeda
age:20
clg:BITM

In [21]:
num=407
if num==1:
  print(num,"is not a prime number")
elif num>1:
  for i in range(2,num):
    if (num%i)==0:
      print(num,"is not a prime number")
      print(i,"times",num//i,"is",num)
      break
  else:
      print(num,"is a prime number")

407 is not a prime number
11 times 37 is 407

In [23]:
def factorial(n):
  if(n==1):
    return(1)
  else:
    return(n*factorial(n-1))
num=8
result=factorial(num)
print("factorial of",num,"is",result)

factorial of 8 is 40320